@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import '@fortawesome/fontawesome-free/css/all.min.css';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #dadada;
}

/* app */
.pic-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; 
    margin: auto; 
  }
  
  .pic-item{
    text-align: center;
  }
  
  .pic-item img{
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
  }
  

a{
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
}

nav {
  display: flex;
  flex-direction:row; /* Stack elements vertically */
  align-items: bottom; /* Center items horizontally */
  background: #131921;
  color: white;
}
.nav-menu {
  position: fixed;
  top: 0;
  left: 0; /* Change to 'right: 0;' if you want it on the right */
  width: 250px; /* Width of the sidebar */
  height: 100%;
  background-color: #131921; /* Sidebar background color */
  overflow: auto; /* Add scroll if content is larger than the screen */
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); /* Start offscreen */
}

.nav-menu.active {
  transform: translateX(0); /* Slide in when active */
}

/* Adjust the style for the dropdown toggle button */
.menu-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px; /* Adjust based on the actual layout */
}

/* The top section of the navbar, containing logo, search, etc. */
.top-section {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space items out */
  padding: 10px 20px; /* Adjust as necessary */
}

/* Styles for the dropdown menu */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 100%; /* Set width to match parent */
  position: absolute;
  top: 100%; /* Position directly below the navbar */
  left: 0;
  background-color: #131921;
}

/* Make sure dropdown is above other content */
.dropdown-menu {
  z-index: 10; 
}

/* Hide dropdown menu initially */
.dropdown-menu {
  display: none; 
}

/* Show dropdown menu when isOpen is true */
.dropdown-menu.show {
  display: flex;
}

/* List styles */
.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdown-menu li {
  text-align: center;
  padding: 10px;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
}

/* This class is for your search bar and related elements */
.search-container {
  flex-grow: 1; /* Allow it to take up as much space as possible */
  margin: 0 15px; /* Add some margin to the left and right */
  display: flex;
  align-items: center;
  /* Add additional styling as needed */
}

.top-section {
  display: flex;
  justify-content: space-between; /* This spreads the items to either end */
  align-items: center;
  width: 100%;
  padding: 10px 20px; /* Adjust as necessary */
  position: relative; /* This allows absolute positioning relative to this container */
}

.nav-links {
  position: absolute;
  top: 0;
  right: 0; /* Align to the top right */
  display: flex;
  gap: 10px; /* Space between links */
  padding: 10px; /* Padding around the link area */
}


/* Individual nav items */
.nav-item {
  padding: 5px 10px; /* Add some padding for clickable area */
  color: white; /* Text color for the items */
  text-decoration: none; /* Remove underline from links */
  /* Add additional styling as needed */
}

/* Hover effect for nav items */
.nav-item:hover {
  background-color: #131921; /* Darken background on hover */
  border-radius: 5px; /* Rounded corners on hover */
}


.nav-country{
    display: flex;
    align-items: end;
    margin: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-country h1{
    color: white;
    font-size: 14px;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: white;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 4px 0 0 4px ;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius:  0 4px 4px 0;
}

.nav-language{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-text{
    margin-left: 15px;
}

.nav-text h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0px 15px;

}
/* .nav-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: white;
    font-size: 15px;
}
.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
} */

.header-slider-container {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  position: relative; /* Make it relative to allow contained absolute positioning */
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 300px;
  background-image: url('https://m.media-amazon.com/images/I/61BYBnNSohL._SX3000_.jpg');
  background-size: cover;
  background-position: center center; /* This centers the background image */
  background-repeat: no-repeat;
  z-index: -1;
}

/* Ensure other z-indexes are not affecting the layout negatively */
.dropdown-menu {
  z-index: 10; /* Make sure dropdown is above other content */
}

.deals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  background-color: #ece9e9;
  z-index: +1;
}


.deal {
  width: calc(25% - 5px);
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
}

.deal img {
  width: auto; 
  height: 100px; 
  object-fit: cover;
}

h2 {
    text-align: center; 
    width: 100%; 
  }
.deal h3, .deal p {
    margin: 5px 0; 
}

.deal a {
    display: inline-block;
    background-color:dimgrey;
    color: #f9f9f9;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border-style: solid;
    border-color: red;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    background: #232f3e;
  }
  
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
  }
  
  .footer-items li a:hover {
    text-decoration: underline;
  }

  /* account css */
  #smiley{
    width:315px;
    height:33px;
    font-size:14px;
    cursor: pointer;
  
    background-color: orange;
    border: 0.5px solid #aaaaaa;
    border-radius:3px;
    margin-top: 10px;
  }
  
  #amazon:hover{
  background: linear-gradient(#F5D68A, #EEBA36);
  }
  
  
  
  body {
      font-size: 13px;
      line-height: 19px;
      color: #111;
      font-family: Arial,sans-serif;
  }
  
  img{
    margin: auto;
    display: block;
  }
  
  #signInBorder{
    position: static;
    margin: 0 auto;
    border-color: #DDDDDD;
    border: 0.5px solid #DDDDDD;
    border-radius: 3px;
    width: 340px;
    padding-left: 25px;
  }
  
  input{
    border-left-color: #DDDDDD;
    border-right-color: #DDDDDD;
    border-radius: 3px;
    border-width: 0.2px;
    height: 25px;
    width: 315px;
    margin-bottom: 15px;
  
  }
  
  input:focus{
    -webkit-box-shadow: 0px 0px 1.5px 1.5px rgba(231,118,0,0.9);
    -moz-box-shadow: 0px 0px 1.5px 1.5px rgba(231,118,0,0.9);
    box-shadow: 0px 0px 1.5px 1.5px rgba(231,118,0,0.9);
    outline:0;
  }
  
  
  #SignInTxt{
    font-family: Arial, sans-serif;
    font-size: 26.5px;
  }
  
  h2 {
     color: rgb(134, 134, 134);
     font-weight: normal;
     letter-spacing: 1px;
     font-size: 11.5px;
     width: 315px;
     text-align: center;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     line-height: 0.1em;
     margin: 10px 0 20px;
     margin-bottom: 5px;
  }
  
  h2 span {
      background:#fff;
      padding:0 10px;
  }
  
  #createAccount{
    margin-top: 30px;
  }
  
  #newAccount{
    background: linear-gradient(#f6f7f9, #e7e9ec);
    margin-top: 10px;
    margin-bottom: 20px;
    width:315px;
    height:33px;
    font-size:14px;
    border: 0.5px solid #aaaaaa;
    border-radius:3px;
    cursor: pointer;
  }
  
  #newAccount:hover{
    background: linear-gradient(#f5f6f8, #d9dce1);
  }
  
  #footer{
    border: 0;
     height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     border-bottom: 1px solid rgba(255, 255, 255, 0.3);
     margin-top: 30px;
  }
  
  
  
  a:link{
    font-size: 12px;
    /*margin: 0 10px 0px 10px;*/
    margin-right: 10px;
    text-decoration: none;
    color: #f9f9f9;
    border: 5px, red;
  }
  a:hover{
    text-decoration: underline;
    color: orangergb(230, 161, 28);
  }
  
  a:visited{
    color: #f9f9f9;
  }
  
   .links{
    font-size: 10px;
    text-align: center;
    padding-left: 15px;
  }
  
  #password{
    margin-left: 125px;
  }
  #special{
    font-size: 11px;
  }

/* home improv */
video {
    width: vw; 
    height: 80vh; 
    object-fit: cover; 
}

